{
    "arrowParens": "always",
    "embeddedLanguageFormatting": "auto",
    "printWidth": 140,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "useTabs": false
}
